# Not-needed since values hardcoded in constants.ts

NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_PROGRAM_ID=<new_program_id_after_deploy>
NEXT_PUBLIC_USDC_MINT=<new_mint_after_init_ts>
NEXT_PUBLIC_PYTH_FEED=<public_pyth_feed>